################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KMS.Retail.Mini/KMS.Retail.Application/obj/Debug
